{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ],
    "transform-function-bind",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "lodash",
      {
        "id": [
          "lodash"
        ]
      }
    ]
  ]
}
