@import '~common/styles/reboot.scss';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > * {
    padding: 1.5em;
  }

  > header {
    background-color: grey;
  }

  > main {
    flex: 1;
    background-color: pink;
  }

  > footer {
    background-color: cyan;
  }
}
