@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  overflow: auto;
}

* {
  box-sizing: border-box;
}


.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > * {
    padding: 1.5em;
  }

  > header {
    background-color: grey;
  }

  > main {
    flex: 1;
    background-color: pink;
  }

  > footer {
    background-color: cyan;
  }
}
